@media (max-width: 1200px) {
  #header {
    .header {
      gap: 70px !important;
    }
  }

  #home {
    .home {
      .home--bloc {
        &__group {
          &--one {
            &__mein {
              left: 438px;
              top: 425px;
            }

            &__mein2 {
              left: 430px;
              top: 468px;
            }
          }
        }

        &__one {
          &--btn {
            display: flex;
            align-items: center;
            padding: 20px 0;

            button {
              height: 40px;
              background: #22A45A;
              border-radius: 7px;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #FFFFFF;
              padding: 0 10px;
              border: none;

            }

            h6 {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #FFFFFF;
              padding: 0 10px;
            }

            ion-icon {
              font-size: 24px;
              line-height: 36px;
              text-align: center;
              color: #FFFFFF;
            }
          }

          &--bol {
            &__twe {
              padding: 0 10px;

              ion-icon {
                color: #E0B420;
              }
            }

            display: flex;
            align-items: center;
          }

          h1 {
            font-weight: 400;
            font-size: 56px;
            line-height: 67px;
            color: #FFFFFF;
            padding: 20px 0;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
          }

        }
      }

      .home--logo {
        width: 1060px;
      }
    }
  }

  #product {
    background: #FFFFFF;

    .product {
      padding-top: 200px;

      &--group {
        &__one {
          &--img {
            width: 90%;
          }

        }

        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 100px;

        &__twe {
          &--btn {
            padding: 10px 0;

            &__btn2 {
              height: 50px;
              background: #1F2937;
              border-radius: 8px;
              border: none;
              padding: 0 10px;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #FFFFFF;

            }

            &__btn3 {
              height: 50px;
              background: #FFFFFF;
              border-radius: 8px;
              border: none;
              padding: 0 10px;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #111827;

              ion-icon {
                font-size: 20px;
                color: #111827;
              }
            }
          }

          h1 {
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            color: #1F2937;
            padding: 10px 0;

          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #4B5563;
            padding: 10px 0;
          }

        }
      }
    }
  }

  #basics {
    background: #FFFFFF;
    padding-top: 100px;
    zoom: 65%;

    .basics {
      &--btn {

        h1 {
          font-weight: 400;
          font-size: 48px;
          line-height: 58px;
          text-align: center;
          color: #1F2937;
          padding: 20px 0;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
          color: #4B5563;
        }


      }

      &--group {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 100px;

        &__bloc {
          border-radius: 16px;
          height: 500px;
          width: 400px;
          background: #00353B;
          margin: 50px 0;
          transition: .4s;


          &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 30px black;
          }

          &--one {
            padding: 20px;

            button {
              height: 29px;
              background: #FFFFFF;
              border-radius: 4px;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              color: #1F2937;
              border: none;
              padding: 0 10px;
            }

            h1 {
              font-weight: 400;
              font-size: 24px;
              line-height: 34px;
              color: #FFFFFF;
              padding: 10px 0;

            }

            h2 {
              font-weight: 400;
              font-size: 18px;
              line-height: 27px;
              color: #FFFFFF;
            }


          }

          &--twe {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 80px;


            button {
              height: 42px;
              background: #22A45A;
              border-radius: 8px;
              border: none;
              padding: 0 20px;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #FFFFFF;
              margin: 150px 0 0 20px;
            }


          }
        }


      }
    }
  }

  #join {
    background: #FFFFFF;
    padding-top: 50px;

    .join {
      &--bloc {
        height: 539px;
        background: #FCD8CA;
        border-radius: 24px;

        &__group {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &--one {
            margin: 0 80px;

            h1 {
              font-weight: 400;
              font-size: 48px;
              line-height: 58px;
              color: #1F2937;

            }

            p {
              font-weight: 400;
              font-size: 18px;
              line-height: 27px;
              color: #374151;
              padding: 20px 0;

            }

            button {
              height: 50px;
              background: #1F2937;
              border-radius: 8px;
              padding: 0 10px;
              border: none;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #FFFFFF;
            }
          }
        }
      }

      &--logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;

        &__one {
          ion-icon {
            border-radius: 50%;
            font-size: 30px;
            background: #158E5E;
            padding: 10px 10px;
            color: #FFFFFF;
          }

          h1 {
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            color: #1F2937;
            padding: 20px 0;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #4B5563;

          }
        }
      }

    }
  }

  #benefits {

    .benefits {
      padding-top: 100px;

      h1 {
        font-weight: 400;
        font-size: 48px;
        color: #1F2937;

      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #4B5563;
        padding: 20px 0;
      }

      &--general {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;

        &__one {
          &--option {
            margin: 30px 0;

            ion-icon {
              background: #22A45A;
              border-radius: 50%;
              padding: 15px 15px;
              font-size: 30px;
              color: #FFFFFF;
              margin: 10px 0;
            }

            h2 {
              font-weight: 500;
              font-size: 24px;
              color: #1F2937;
              padding: 10px 0;

            }

            p {
              font-weight: 400;
              font-size: 15px;
              color: #4B5563;
            }
          }
        }
      }
    }

    .bottom {
      height: 600px;
      border-radius: 20px;
      background: #FCD8CA;
      margin: 50px 0;

      h1 {
        font-weight: 400;
        font-size: 48px;
        color: #1F2937;
        padding: 30px 0;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        color: #4B5563;
        padding: 30px 0;

      }

      &--block {
        background: #FFFFFF;
        border-radius: 10px;

        &__stars {
          ion-icon {
            font-size: 30px;
            margin: 10px 10px;
          }
        }

        &__bottom2 {
          display: flex;
          justify-content: center;

          h5 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin: 0 10px;

          }
        }

      }
    }
  }

  #blocks {
    .blocks {
      .blocks--block {
        zoom: 85%;
      }
    }
  }
}

@media (max-width: 1140px) {

  #benefits {
    .bottom {
      zoom: 95%;
    }
  }

  #blocks {
    .blocks {
      .blocks--block {
        zoom: 80%;
      }
    }
  }


}

@media (max-width: 1024px) {
  #home {
    .home {
      .home--bloc {
        zoom: 80%;
        gap: 30px;
      }

      .home--logo {
        width: 950px;
      }
    }
  }

  #join {
    .join {
      &--bloc {
        zoom: 80%;
        padding-top: 50px;
      }
    }
  }

  #benefits {
    .bottom {
      zoom: 87%;
    }
  }

  #blocks {
    .blocks {
      .blocks--block {
        zoom: 70%;
      }
    }
  }

  #footer {
    .footer {
      &--general {
        zoom: 90%;
      }
    }
  }

}

@media (max-width: 992px) {
  #home {
    .home {
      .home--bloc {
        zoom: 80%;
        gap: 30px;
      }

      .home--logo {
        width: 905px;
        margin-top: -150px;
      }
    }
  }

  #join {
    .join {
      &--bloc {
        zoom: 80%;
        padding-top: 50px;
      }
    }
  }

  #benefits {
    .benefits--general {
      zoom: 85%;
      gap: 20px;
    }

    .bottom {
      zoom: 87%;

      &--block {
        zoom: 92%;
        padding: 10px 10px;
      }
    }
  }

  #blocks {
    .blocks {
      .blocks--block {
        zoom: 70%;
      }
    }
  }

  #footer {
    .footer {
      &--general {
        zoom: 90%;
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    .header {
      .header--bloc {
        display: none;
      }

      .header--bol {
        display: none;
      }

      .hamburger-menu {
        display: block !important;
      }
    }
  }

  #home {
    height: 1330px !important;

    .home {
      .home--bloc {
        display: flex;
        gap: 80px;
        flex-direction: column;
        zoom: 90%;

        img {
          margin: 0 50px;
        }

        &__group {
          &--one {
            &__mein {
              display: none;
            }

            &__mein2 {
              display: none;
            }
          }
        }

      }

      .home--logo {
        width: 100%;
        margin-top: 160px;
        height: 27%;
      }
    }
  }

  #product {
    .product {
      .product--group {
        display: flex;
        flex-direction: column;
        gap: 79px;
      }
    }
  }

  #basics {
    .basics {
      &--group {
        display: flex;
        flex-direction: column;

        &__bloc {
          zoom: 160%;

        }
      }
    }
  }

  #join {
    .join {
      display: flex;
      flex-direction: column;

      .join--bloc {
        height: 100%;
        width: 80%;
        padding: 30px 0;
        margin: 0 80px;

        &__group {
          display: flex;
          flex-direction: column;
          gap: 60px;


        }
      }
    }

    .join--logo {
      display: flex;
      flex-direction: column;
      gap: 50px;
      text-align: center;
    }
  }

  #benefits {
    .benefits--general {
      display: flex;
      flex-direction: column;
      zoom: 100%;
      gap: 20px;
      margin: 50px 50px;

    }

    .bottom {
      zoom: 87%;

      &--block {
        zoom: 65%;
        padding: 20px 20px;
        margin-top: 100px;
      }
    }
  }

  #blocks {
    background: #00353B;
    padding-top: 100px;


    .blocks {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin: 0 145px;
      padding-top: 50px;

      &--block {
        zoom: 100% !important;


        &__bottom {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 10px 24px;

        }
      }
    }
  }

  #footer {
    background: #00353B;

    .footer {
      &--general {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        gap: 30px;


        &__one {
          padding: 40px 0;

          p {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            padding: 10px 0;


          }

          &--group {
            white-space: nowrap;

            input {
              width: 200px;
              height: 30px;
              border-radius: 10px;
              border: none;
              margin: 10px 20px 10px 0;
              padding: 0 10px;

            }

            button {
              padding: 8px 20px;
              background: #22A45A;
              color: #FFFFFF;
              border: none;
              border-radius: 8px;
              cursor: pointer;
              transition: .4s;

              &:hover {
                transform: scale(1.1);
                color: white;
                background: transparent;
                border: 2px solid #22A45A;

              }
            }
          }
        }

        &__two {
          display: flex;
          flex-direction: column;
          line-height: 30px;

          h1 {
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
          }

          a {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.81);
            transition: .4s;

            &:hover {
              transform: scale(1.1);
              text-decoration-line: underline;
              color: #22A45A;
            }
          }
        }

        &__three {
          display: flex;
          flex-direction: column;
          line-height: 30px;

          h1 {
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
          }

          a {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.81);
            transition: .4s;

            &:hover {
              transform: scale(1.1);
              text-decoration-line: underline;
              color: #22A45A;
            }
          }
        }

        &__four {
          display: flex;
          flex-direction: column;
          line-height: 30px;

          h1 {
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
          }

          a {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.81);
            transition: .4s;

            &:hover {
              transform: scale(1.1);
              text-decoration-line: underline;
              color: #22A45A;
            }
          }
        }

        &__fave {
          display: flex;
          flex-direction: column;
          line-height: 30px;

          h1 {
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
          }

          a {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.81);
            transition: .4s;

            &:hover {
              transform: scale(1.1);
              text-decoration-line: underline;
              color: #22A45A;
            }
          }
        }
      }

      hr {
        margin: 30px 0;
      }

      &--bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;

        p {
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;
        }

        &__left {
          ion-icon {
            padding: 7px 7px;
            border-radius: 5px;
            background: #158E5E;
            font-size: 20px;
            margin: 0 5px;
            color: rgba(255, 255, 255, 0.9);
            transition: .4s;
            cursor: pointer;

            &:hover {
              transform: scale(1.2);
              color: black;
            }

          }
        }
      }
    }
  }

}

@media (max-width: 576px) {
  #home {
    .home {

      .home--logo {
        height: 37%;

      }
    }
  }

  #blocks {
    .blocks {
      margin: 0 60px;

    }
  }

  #window {

    .window {
      &--modal {
        display: none;

        &__bg {

          &--square {
            width: 90% !important;
            height: 70% !important;

          }
        }
      }
    }
  }
}

@media (max-width: 400px) {

  #home {
    .home {
      .home--bloc {
        &__one {
          h1 {
            font-size: 40px;
          }
        }

        &__group {
          img {
            margin: 0 25px;
          }
        }

      }

      .home--logo {
        height: 465px;
        width: 100%;
        margin-top: 30px !important;

        h2 {
          font-size: 30px;
        }
      }
    }
  }

  #blocks {

    .blocks {
      margin: 0 60px;

    }
  }

  #product {
    .product {
      &--group {
        &__twe {
          h1 {
            font-weight: 400;
            font-size: 28px !important;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #4B5563;
            padding: 10px 0;
          }

        }
      }
    }
  }

  #basics {
    .basics {
      .basics--group {
        &__bloc {
          zoom: 130%;
        }
      }
    }
  }

  #join {
    .join {
      &--bloc {
        zoom: 54%;
        margin: 0 42px;

        &__group {
        }
      }

      &--logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;

        &__one {
          ion-icon {
            border-radius: 50%;
            font-size: 30px;
            background: #158E5E;
            padding: 10px 10px;
            color: #FFFFFF;
          }

          h1 {
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            color: #1F2937;
            padding: 20px 0;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #4B5563;

          }
        }
      }

    }
  }

  #benefits {
    .bottom {
      zoom: 60%;
    }
  }

  #blocks {
    .blocks {
      margin: 0;
      zoom: 90%;

    }
  }

}

@media (max-width: 390px) {
  #home {
    .home {
      .home--bloc {
        &__one {
          h1 {
            font-size: 40px;
          }
        }

        &__group {
          img {
            margin: 0 25px;
          }
        }

      }

      .home--logo {
        height: 465px;
        width: 100%;
        margin-top: 30px !important;

        h2 {
          font-size: 30px;
        }
      }
    }
  }

  #blocks {

    .blocks {
      margin: 0 60px;

    }
  }

  #product {
    .product {
      &--group {
        &__twe {
          h1 {
            font-weight: 400;
            font-size: 28px !important;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #4B5563;
            padding: 10px 0;
          }

        }
      }
    }
  }

  #basics {
    .basics {
      .basics--group {
        &__bloc {
          zoom: 130%;
        }
      }
    }
  }

  #join {
    .join {
      &--bloc {
        zoom: 54%;
        margin: 0 42px;

        &__group {
        }
      }

      &--logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;

        &__one {
          ion-icon {
            border-radius: 50%;
            font-size: 30px;
            background: #158E5E;
            padding: 10px 10px;
            color: #FFFFFF;
          }

          h1 {
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            color: #1F2937;
            padding: 20px 0;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #4B5563;

          }
        }
      }

    }
  }

  #benefits {
    .bottom {
      zoom: 60%;
    }
  }

  #blocks {
    .blocks {
      margin: 0;
      zoom: 90%;

    }
  }
}

@media (max-width: 320px) {
  #home {
    .home {
      zoom: 90%;

      .home--bloc {
        &__one {
          h1 {
            font-size: 30px;
          }
        }

        &__group {
          img {
            margin: 0 25px;
          }
        }

      }

      .home--logo {
        height: 487px;

        h2 {
          font-size: 30px;
        }
      }
    }
  }

  #product {
    .product {
      &--group {
        &__twe {
          h1 {
            font-weight: 400;
            font-size: 28px !important;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #4B5563;
            padding: 10px 0;
          }

        }
      }
    }
  }

  #basics {
    zoom: 65% !important;

    .basics {
      zoom: 65% !important;

      .basics--group {
        &__bloc {

        }
      }
    }
  }

  #join {
    .join {
      &--bloc {
        zoom: 54%;
        margin: 0 42px;

        &__group {
          &--one {
            h1 {
              font-size: 29px !important;
            }
          }
        }
      }

      &--logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;

        &__one {
          ion-icon {
            border-radius: 50%;
            font-size: 30px;
            background: #158E5E;
            padding: 10px 10px;
            color: #FFFFFF;
          }

          h1 {
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            color: #1F2937;
            padding: 20px 0;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #4B5563;

          }
        }
      }

    }
  }

  #benefits{
    .benefits {
      h1 {
        font-size: 25px !important;

      }

      .bottom {
        zoom: 60%;


      }

    }
  }

  #blocks {
    .top{

      h1{
        font-size: 30px!important;
      }

    }
    .blocks{
      &--block{
        zoom: 71%!important;
        margin: 20px;
      }
    }
  }

  #window{
    .window{
      h1{
        font-size: 30px!important;
      }
      &--modal{
        &__bg{
          &--square{
            zoom: 75%;
          }
        }

      }
    }
  }

  #footer {
    .footer {
      &--general {
        &__one {


          p {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            padding: 10px 0;


          }

          &--group {
            white-space: nowrap;

            input {
              width: 200px;
              height: 30px;
              border-radius: 10px;
              border: none;
              margin: 10px 20px 10px 0;
              padding: 0 10px;

            }

            button {
              display: none;
              padding: 8px 20px;
              background: #22A45A;
              color: #FFFFFF;
              border: none;
              border-radius: 8px;
              cursor: pointer;
              transition: .4s;

              &:hover {
                transform: scale(1.1);
                color: white;
                background: transparent;
                border: 2px solid #22A45A;

              }
            }
          }
        }

        &__two {
          display: flex;
          flex-direction: column;
          line-height: 30px;

          h1 {
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
          }

          a {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.81);
            transition: .4s;

            &:hover {
              transform: scale(1.1);
              text-decoration-line: underline;
              color: #22A45A;
            }
          }
        }

        &__three {
          display: flex;
          flex-direction: column;
          line-height: 30px;

          h1 {
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
          }

          a {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.81);
            transition: .4s;

            &:hover {
              transform: scale(1.1);
              text-decoration-line: underline;
              color: #22A45A;
            }
          }
        }

        &__four {
          display: flex;
          flex-direction: column;
          line-height: 30px;

          h1 {
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
          }

          a {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.81);
            transition: .4s;

            &:hover {
              transform: scale(1.1);
              text-decoration-line: underline;
              color: #22A45A;
            }
          }
        }

        &__fave {
          display: flex;
          flex-direction: column;
          line-height: 30px;

          h1 {
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            color: #FFFFFF;
          }

          a {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.81);
            transition: .4s;

            &:hover {
              transform: scale(1.1);
              text-decoration-line: underline;
              color: #22A45A;
            }
          }
        }
      }

      hr {
        margin: 30px 0;
      }

      &--bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        flex-direction: column;

        p {
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;
        }

        &__left {
          ion-icon {
            padding: 7px 7px;
            border-radius: 5px;
            background: #158E5E;
            font-size: 20px;
            margin: 0 5px;
            color: rgba(255, 255, 255, 0.9);
            transition: .4s;
            cursor: pointer;

            &:hover {
              transform: scale(1.2);
              color: black;
            }

          }
        }
      }
    }
  }
}
